#tagging-grid {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  width: fit-content;
  margin-top: -100px;
  padding-bottom: 150px;
  padding-right: 500px;
  padding-left: 500px;
  justify-content: center;
}

/* .waldo-image {
  grid-column: 1/-1;
  grid-row: 1/-1;
} */

.marker {
  grid-column: 1/-1;
  grid-row: 1/-1;
  z-index: 1;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  border-radius: 100%;
  color: rgb(255, 255, 255);
  filter: drop-shadow(0px 0px 10px #000000);

  border: 3px solid;
  font-size: xx-large;

  pointer-events: none;
}

header button {
  background-color: #148cc1;
  font-size: x-large;
  padding: 5px;
  border: 0px solid white;
  cursor: pointer;
}

fieldset button {
  font-size: large;
}
